---
title: Overview | BATHNES Digital Toolkit
fabricator: true
---

<h1 class="heading-large">BATHNES Digital Toolkit</h1>
<p>This toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>
<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>
<p>It's purpose is to enable internal and external developers to create high quality experiences more easily.</p>
<h2 class="heading-medium">Usage</h2>
<p>The toolkit is based around the following elements:</p>
<ul class="list list-bullet">
	<li><strong>Styles</strong>: The core parts of the design and brand; colour, logos, layouts, typograpy</li>
	<li><strong>Components</strong>: Groups of elements that can be used in a design</li>
	<li><strong>Patterns</strong>: Design solutions to common problems made up of Components</li>
	<li><strong>Templates</strong>: Example page templates</li>
</ul>
<h2 class="heading-medium">Help</h2>
<p>For help in using the toolkit please see the <a href="docs.html">Documentation</a></p>
<p>For more information, support etc. contact <a href="mailto:ben@fffunction.co?subject=query%20from%20the%20B&amp;NES%20toolkit">ben@fffunction.co</a></p>