.breakout-box{
  background: $bathnes-grey-3;
  padding: 15px;
  border: solid 2px $bathnes-grey-2;
    @include media($site-width){
    padding:30px;
  }
}

.breakout-box-alt-primary{
  background: $link-colour;
  border: solid 2px $link-hover-colour;
  color: $bathnes-white;
}

.breakout-box-alt-secondary{
  background:$button-colour;
  border: solid 2px $button-hover-colour;
  color: $bathnes-white;
}
