.breakout-box{
  background: $bathnes-grey-3;
  padding: 15px;
  border: solid 2px $bathnes-grey-2;
    @include media($site-width){
    padding:30px;
  }
}

.breakout-box-alt-primary{
  background: $bathnes-primary;
  border: solid 2px $bathnes-primary;
  color: $bathnes-white;
}

.breakout-box-alt-secondary{
  background:$bathnes-secondary-ally;
  border: solid 2px $bathnes-secondary-ally;
  color: $bathnes-white;
}
